<!doctype html>
<html>
 <head>
 <title>Wine Recommendations</title>
 </head>
 <body>
 <h3>Wine Recommendations:</h3>
 <!-- <div> {{ recommendation_01 }}</strong></div>
 <br>
 <div> {{ recommendation_02 }}</strong></div>
 <br>
 <div> {{ recommendation_03 }}</strong></div> -->
 </div>
    <p></p>

    <table style="width:80%">
      <tr>
        <th>Variety</th>
        <th>Title</th>
        <th>Price</th> 
        <th>Color</th> 
        <th>Description</th>
        <th>Recommendation Score</th>
        <th>Rating</th> 
      </tr>
      <tr>
        <td>{{  variety_0  }}</td>
        <td>{{  title_0  }}</td>
        <td>{{  price_0  }}</td> 
        <td>{{  color_0  }}</td>
        <td>{{  description_0  }}</td>
        <td>{{  recommendation_0  }}</td> 
        <td>{{  rating_0  }}</td>
      </tr>
      <tr>
         <td>{{  variety_1  }}</td>
         <td>{{  title_1  }}</td> 
         <td>{{  price_1  }}</td>
         <td>{{  color_1  }}</td>
         <td>{{  description_1  }}</td>
         <td>{{  recommendation_1  }}</td> 
         <td>{{  rating_1  }}</td>
       </tr>
       <tr>
         <td>{{  variety_2  }}</td>
         <td>{{  title_2  }}</td> 
         <td>{{  price_2  }}</td>
         <td>{{  color_2  }}</td>
         <td>{{  description_2  }}</td>
         <td>{{  recommendation_2  }}</td> 
         <td>{{  rating_2  }}</td>
       </tr>
    </table>
 </div>
 </body>
</html>
